.wrapper {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.col220 {
    width: 220px;
    height: 220px;
    background-color: gray;
    margin: 10px;
}

.col100 {
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 10px;
}

.col700 {
    height: 220px;
    width: 700px;
    background-color: gray;
    margin: 10px;
}

.col460 {
    width: 460px;
    height: 220px;
    background-color: gray;
    margin: 10px;
}