main {
    width: 700px;
}

.col1-1 {
    background-color: lightblue;
    border-right: 5px solid black;
    height: 200px;
    width: 40px;
    float: left;
}

.col1-2 {
    background-color: beige;
    height: 50px;
    width: 80px;
    float: left;
    border: 5px solid black;
    border-left-width: 0;
    border-top-width: 0;
}

.col1-3 {
    background-color: beige;
    width: 70px;
    height: 50px;
    float: left;
    border: 5px solid black;
    border-left-width: 0;
    border-top-width: 0;
}

.col1-4 {
    background-color: lightblue;
    width: 200px;
    height: 50px;
    float: left;
    border: 5px solid black;
    border-top-width: 0;
}

.col1-5 {
    background-color: beige;
    width: 90px;
    height: 120px;
    float: left;
    border-bottom: 5px solid black;
}

.col1-6 {
    background-color: lightblue;
    width: 40px;
    height: 175px;
    float: left;
    border: 5px solid black;
    border-top-width: 0;
}

.col1-7 {
    background-color: red;
    width: 60px;
    height: 300px;
    float: left;
    border-bottom: 5px solid black;
}

.col1-8 {
    background-color: beige;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    height: 300px;
    width: 50px;
    float: left;
}

.row2 {
    position: relative;
    left: 45px;
    top: -250px;
}

.col2-1 {
    background-color: beige;
    width: 80px;
    height: 145px;
    border: 5px solid black;
    border-top-width: 0;
    border-left-width: 0;
    clear: left;
    float: left;
}

.col2-2 {
    background-color: black;
    width: 80px;
    height: 250px;
    float: left
}

.col2-3 {
    background-color: blue;
    border: 5px solid black;
    border-top-width: 0;
    border-left-width: 0;
    width: 200px;
    height: 245px;
    float: left;
}

.col3-1 {
    background-color: yellow;
    width: 90px;
    position: relative;
    height: 50px;
    position: relative;
    left: 415px;
    top: 125px;
    border-bottom: 5px solid black;
}

.row4 {
    position: relative;
    left: -370px;
    top: -105px;
}

.col4-1 {
    width: 40px;
    height: 100px;
    background-color: beige;
    float: left;
    border-right: 5px solid black;
    border-top: 5px solid black;
}

.col4-2 {
    background-color: lightblue;
    width: 80px;
    height: 100px;
    float: left;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.col4-3 {
    background-color: beige;
    width: 135px;
    height: 120px;
    border: 5px solid black;
    border-left-width: 0;
    border-top-width: 0;
}

.right {
    clear: left;
    float: right;
    position: relative;
    left: 225px;
    top: -270px;
}