main {
    width: 600px;
}

.col1-1 {
    background-color: red;
    border-right: 10px solid black;
    height: 250px;
    width: 260px;
    float: left;
}

.col1-2 {
    background-color: white;
    height: 250px;
    width: 330px;
    float: right;
}

.col2-1 {
    background-color: white;
    border: 10px solid black;
    height: 150px;
    width: 260px;
    float: left;
    border-left-width: 0;
}

.col2-2 {
    background-color: white;
    border: 10px solid black;
    border-left-width: 0;
    border-right-width: 0;
    height: 150px;
    width: 300px;
    float: left;
}

.col3-1 {
    background-color: yellow;
    height: 250px;
    width: 60px;
    float: left;
}

.col3-2 {
    background-color: white;
    border-left: 10px solid black;
    height: 250px;
    width: 190px;
    float: left;
}

.col3-3 {
    background-color: purple;
    border: 10px solid black;
    border-top-width: 0;
    float: left;
    width: 160px;
    height: 200px;
}

.col3-4 {
    background-color: white;
    float: left;
    width: 130px;
    height: 250px;
}

.col4-1 {
    background-color: white;
    border: 10px solid black;
    border-top-width: 0;
    border-bottom-width: 0;
    width: 160px;
    height: 40px;
    float: right;
    position: relative;
    top: -40px;
    left: -160px;
}