 .container {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: 220px 100px repeat(3,220px);
 }
 
 .container div {
    background-color: #E1E1E1;
 }

 .container .col220 {
    grid-column: span 2;
 }

 .container .col700 {
    grid-column: span 6;
 }

 .container .col460 {
    grid-column: span 4;
 }