body {
    background: url(1.jpg)
}

.slider h1 {
    color: white;
}

.but {
    color:black;
    font-size: 40px;
position: absolute;
top: 50%;
width: 100%;
transform: translateY(50%)
}

.left {
    position: relative;
float: left;
}

.right {
    position: relative;
    float: right;
    right: 20px;
}

.but a {
    background-color: white;
    text-decoration: none;
    padding: 0px 5px;  
    color: black;
}

.rec {
    width: 50px;
    height: 50px;
    background-color: white
}